.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 8px -9px;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-image {
    width: 100%;
    /* Make the image fill the container */
    height: 100%;
    /* Make the image fill the container */
    object-fit: contain;
    /* Preserve aspect ratio without cropping */
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}