.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 8px -9px;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-image {
    width: 100%;
    /* Make the image fill the container */
    height: 100%;
    /* Make the image fill the container */
    object-fit: contain;
    /* Preserve aspect ratio without cropping */
  }

  .right-nav-links {
    display: flex;
    align-items: center;
  }

  .right-nav-links span {
    padding: 10px;
    padding-bottom: 20px;
    /* Adjust as needed */
    margin-bottom: -20px;
    border-bottom: 4px solid transparent;

  }

  .left-nav-links {
    font-family: 'Open Sans';
    font-weight: bold;

    padding-left: 18em;
    /* Adjust as needed */
    display: flex;
    align-items: center;
  }

  .nav-links-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;


    .active {
      border-bottom: 4px solid orange !important;
      /* Adjust color as needed */
      display: inline-block;
      /* Light and subtle */
      /* Example: blue underline */
      /* other styles for active link */
    }

    .nav-link {
      padding: 10px;
      padding-bottom: 20px;
      /* Adjust as needed */
      margin-bottom: -20px;
      /* Negative margin to bring the border closer to the shadow */
      cursor: pointer;
      border-bottom: 4px solid transparent;

      /* Invisible border for all links */
      /* Transparent border by default */
    }

    .nav-link.home {
      padding-right: 20px;
      /* Adjust the value as needed */
    }

    /* Or, add padding to the left of the "FAQ" link */
    .nav-link.faq {
      padding-left: 20px;
      /* Adjust the value as needed */
    }


    .nav-link:hover {
      color: #007bff;
      /* Or any other color that fits your design */
    }

    @media (max-width: 768px) {

      /* Adjust breakpoint as needed */
      .left-nav-links {
        padding-left: 20px;
        /* Smaller padding on smaller screens */
      }

      .navigation {
        flex-direction: column;
        align-items: center;
      }

      .nav-links-container {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}